#increment{
    position: fixed;
    right: 0;
    width: 20px;
    height: 100%;
    background-color: aqua;
}

#decrement{
    position: fixed;
    left: 0;
    width: 20px;
    height: 100%;
    background-color: aqua;
}

.weather-average{
    justify-content: center;
    display: flex;
    align-items: center;
}
.weather-average span{
    color: #777;
    font-size: 1rem;
    margin-left: 5px;
}

.small-weather-image{
    max-width: 100%;
}

.text-center{
    text-align: center;
}

.hourly-temperature{
    font-size: .8rem;
}

.hourly-temperature-container{
    border-radius: 5px;
    padding: 5px 0;
    transition: background-color 200ms ease;
}

.hourly-temperature-container:hover{
    background-color: #efefef;
}

#spinner-glass{
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(255,255,255,0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0;
    top: 0;
}